/** DESTINATIONS **/

.grid-container.destination {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  --flow-space: 2rem;
}

.grid-container.destination > .numbered-title {
  grid-area: title;
}

.grid-container.destination > picture {
  grid-area: image;
  max-width: 50%;
}

.grid-container.destination > .tablist {
  grid-area: tabs;
}

.grid-container.destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  align-items: center;
  border-top: 1px solid hsl(var(--clr-white) / 0.25);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta p {
  font-size: 1.75rem;
}

/** BIGGER THAN MOBILE **/
@media (min-width: 40rem) {
  .grid-container.destination > .numbered-title {
    justify-self: start;
    margin-top: calc(2rem + 1vw);
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/**  DESKTOPS  **/
@media (min-width: 60rem) {
  .destination.grid-container {
    grid-template-areas:
      ". title title . "
      ". image tabs ."
      ". image content .";

    justify-content: start;
    align-content: start;
    --container-gap: min(6rem, 5vw);
  }

  .grid-container.destination > picture {
    grid-area: image;
    max-width: 90%;
  }

  .grid-container.destination > .tablist {
    justify-self: left;
  }

  .destination-meta {
    --gap: max(4rem, 5vw);
    justify-content: flex-start;
  }
}
