/**  PRIMARY HEADER **/

.logo {
  margin: 2rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-dark) / 0.95);
  /* backdrop-filter: blur(1.5rem); */
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .primary-navigation.expanded {
    transform: translateX(0%);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid red;
    outline-offset: 5px;
  }

  .mobile-nav-toggle img {
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

@media (min-width: 40rem) {
  .primary-navigation {
    padding-inline: clamp(2.5rem, 7vw, 7rem);
  }
}

@media (min-width: 40rem) and (max-width: 59.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 60rem) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    z-index: 5;
    background-color: hsl(var(--clr-white) / 0.25);
    width: 100%;
    height: 2px;
    margin-right: -2.5rem;

    order: 1;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }

  .primary-navigation li a {
    display: flex;
    flex-wrap: nowrap;
  }
}
