/* .primary-header {
  align-items: center;
  padding: 1rem;
}

.primary-header nav {
  position: relative;
  display: none;
}

.primary-header nav.expanded {
  position: fixed;
  inset: 0 0 0 20%;
  z-index: 5;
  display: block;
}

.primary-header nav.expanded ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: 100vh;

  background-color: rgba(44, 54, 54, 0.527);
  backdrop-filter: blur(10px);
  padding-top: 10vh;
  padding-inline: 2rem 4rem;
}

.primary-header .mobile-nav-toggle {
  margin-left: auto;
  z-index: 10;
  background: transparent;
  border: none;
} */
